# Ignore everything in the root of the repo so that files can be explicitly
# whitelisted.
/*

# Directories
!.github/
!.husky
!src/

# Files
!.commitlintrc.json
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.npmignore
!.prettierrc.js
!LICENSE
!package-lock.json
!package.json
!README.md
!tsconfig.json
